h1 {
    color: rgb(78, 212, 168);
    text-align: center;
}

p {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: medium;
text-align: center;
}

h2 {
    color: rgb(43, 255, 0);
    text-align: center;
}

body {
    background-color: rgb(123, 191, 255);
}

.styleli {
    color: dimgray;
    font-weight: 300;
    font-size: 18px;
}


.align-center {
    text-align: center;
    list-style-position: inside;
}



.my-buttons {
    background-color: rgb(235, 49, 49);
    color: azure;
    padding: 10px 20px;
    border: gold;
    cursor: pointer;
}


.images {
    width: 350px;
    height: 300px;
}


.gradient{
    background: linear-gradient(to right, aquamarine, aqua, blue);
}

.box {

}